<div class="main-container" (mousemove)="onMouseMove($event)">
  <app-navbar *ngIf="showNavbar"></app-navbar>
  <div class="beer-container">
    <img class="beer-logo" [src]="beer?.imageUrl" [alt]="beer?.name + ' Logo'">
    <img class="beer-image" [src]="beer?.imageUrl" [alt]="beer?.name">
    <button class="scroll-indicator" (click)="scrollToDetails()">Scroll for details</button>
  </div>
  <div class="details-container" *ngIf="showDetails">
    <h2>{{ beer?.name }}</h2>
    <p><strong>Category:</strong> {{ beer?.category }}</p>
    <p><strong>Country:</strong> {{ beer?.country }}</p>
    <p><strong>Ingredients:</strong> {{ beer?.ingredients ?? 'No ingredients available' }}</p>
    <p><strong>Price:</strong> ${{ beer?.price }}</p>
    <p><strong>Description:</strong> {{ beer?.description }}</p>
    <img class="beer-details-image" [src]="beer?.imageUrl" [alt]="beer?.name">
  </div>
</div>
